insmod all_video
insmod video_bochs
insmod vbe

set timeout=3
set default=1
set gfxmode=1920x1080x32,1600x900x32,1280x1024x32,1280x800x32,1024x768x32,800x600x32,auto
set gfxpayload=keep

menuentry "Rusty Penguin v1.0.0" {
    linux /boot/vmlinuz quiet loglevel=0 console=tty0 init=/init rw
    initrd /boot/initrd.img
}

menuentry "Rusty Penguin (bare metal)" {
    set gfxpayload=1920x1080x32,1600x900x32,1280x1024x32,1280x800x32,1024x768x32,800x600x32
    multiboot2 /boot/kernel.elf
    module2    /boot/initrd-bare.img initrd
    boot
}

menuentry "Rusty Penguin -- DOOM (demoable)" {
    linux /boot/vmlinuz quiet loglevel=0 console=tty0 init=/init rw
    initrd /boot/initrd-doom.img
}

menuentry "Rusty Penguin -- Console / Install to disk" {
    linux /boot/vmlinuz loglevel=4 console=tty0 init=/init rw rp.console
    initrd /boot/initrd.img
}
